h1{color:blue}
h2{color:blueviolet}
h3{color:crimson}
h4{color:darkgreen}
h5{color:dodgerblue}
h6{color:orange}


p{color:black}

body{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
body {background-color: lightgray;}
body {text-align: center;}
footer{background-color: dimgray;text }